header{
    background-color: #1d263c;
    padding: 10px;
    color: #b9a8a8;
}
.logoepe{
    width: 120px;
    margin-top: 15px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #edc7c1;
    text-decoration: none;
}

.active {
    background-color: #B73D23;
}
.active:hover {
    text-decoration: none;
    color: white;
}



@media (max-width: 500px) {
    #nombreUsuario:not(small){
        font-size: 15px;
    }
}
    @media (max-width: 1000px) {
    #nombreUsuario:not(small){
        font-size: 16px;
    }
}


